
@import url('https://fonts.googleapis.com/css?family=Teko');

.forkMe {

	$ribbon: #fff;
	$text: #292929;
	$ribbon-hover: #f7ff85;
	$text-hover: $text;

	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 11.5rem;
	overflow: hidden;

	@media (min-width: 600px) {
		position: fixed;
	}

	@media (min-width: 1200px) {
		padding-top: 16.5rem;
	}

	&__link {
		display: block;
		background: $ribbon;
		color: $text;
		font-size: 2.2rem;
		line-height: 1;
		font-family: 'Teko', sans-serif;
		position: relative;
		padding: 10px 4rem;
		margin-right: -1rem;
		width: 23rem;
		transform-origin: bottom right;
		transform: rotate(45deg);
		text-decoration: none;
		text-align: center;
		box-shadow: 0 0 20px #000;
		transition: 0.2s;

		@media (min-width: 1200px) {
			font-size: 3rem;
			width: 31rem;
		}


		&::before, &::after {
			content: '';
			border-bottom: 1px dotted #979797;
			height: 0;
			width: 100%;
			position: absolute;
			left: 0;
		}

		&::before {
			top: 2px;
		}

		&::after {
			bottom: 2px;
		}

		&:hover, &:focus {
			background: $ribbon-hover;
			color: $text-hover;
		}
	}
}
