
.textBlock {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 50px;
	max-width: 60rem;
	padding: 40px;
	margin: auto;
	margin-top: 2em;
	font-size: 0.9em;
	line-height: 1.5;

	p {
		margin: 0;
	}

	p + p {
		margin-top: 1.5em;
	}
}
