extends _layouts/base

include _modules/link/link

block content
  .container(style="text-align: center")
    p real time input
    p: input(type='time')
    p fake time input
    p: input.time(type='text')
