include ./modules/result/result.pug
include ./modules/downloadMethod/downloadMethod.pug
include ./modules/forkMe/forkMe.pug
include ./modules/textBlock/textblock.pug
include ./pages/homePage.pug
include ./pages/testPage.pug

+homePage
+testPage
