extends _layouts/base

include _modules/link/link

block content
  .container(style="text-align: center")
    h1 Time Input Polyfill demo

    label
      span Real time input
      input(type='time')

    label
      span Polyfill time input
      input.time(type='text')

    label
      span Real time input (with value)
      input(type='time' value="20:30")

    label
      span Polyfill time input (with value)
      input.time(type='text' value="20:30")

    p: a(href='https://github.com/Dan503/time-input-polyfill')
      img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png', alt='Fork me on GitHub')
